<mat-form-field class="ngface-input-field ngface-number" [floatLabel]="floatLabelControl.value">
  <mat-label>{{label}}</mat-label>
  <input matInput numericInputFilter type="text" autocomplete="off"
         [placeholder]="placeholder"
         [required]="required"
         [(ngModel)]="valueText"
         (ngModelChange)="onChange()"
         (blur)="onBlur()"
         [errorStateMatcher]="errorStateMatcher"
  >
  <span matPrefix>{{prefix}}</span>
  <span matSuffix>{{suffix}}</span>
  <mat-hint>{{hint}}</mat-hint>
  <mat-error>{{validationErrors}}</mat-error>
</mat-form-field>
