p {
  padding-bottom: 5px;
  margin-bottom: 0;
}

.ngface-form {
  background-color: #f5f5f5;
  padding-top: 5px;
  padding-bottom: 0;
}
.ngface-form-mobile {
  margin: 10px 0 0 0;
  padding-left: 20px;
  padding-right: 20px;
}

.container-mobile {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
}
