/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.ngface-form {
  padding: 10px;
}


.ngface-flex-row {
  display: flex;
  margin-bottom: 20px;

  .ngface-flex-col {
    flex: 1;
    padding: 0px 12px;
    min-width: 0;
  }

  .ngface-flex-col-2 {
    flex: 2;
    padding: 0px 12px;
    min-width: 0;
  }

  .ngface-flex-col-3 {
    flex: 3;
    padding: 0px 12px;
    min-width: 0;
  }
}

.ngface-input-field {
  width: 250px;
  margin-right: 20px;

  .mat-form-field-flex {
    height: 55px;
  }

  .mat-form-field-infix {
    padding-top: 10px;
  }

  mat-hint {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

}

.mat-form-field-appearance-outline .mat-form-field-prefix, .mat-form-field-appearance-outline .mat-form-field-suffix {
  top: 0 !important;
  margin-left: 0.2em;
}
