/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.ngface-form {
  padding: 10px;
}


.ngface-flex-row {
  display: flex;
  .ngface-flex-col {
    flex: 1;
    padding: 0px 12px;
    min-width: 0;
  }
  .ngface-flex-col-2 {
    flex: 2;
    padding: 0px 12px;
    min-width: 0;
  }
  .ngface-flex-col-3 {
    flex: 3;
    padding: 0px 12px;
    min-width: 0;
  }
}

.ngface-input-field {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 20px;

  input {
    width: 250px;
  }

  label {
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}


