<router-outlet></router-outlet>

<div class="container">
  <h1>ngface demo application</h1>
  <br>
  <div class="ngface-form">
    <div class="ngface-row">
      <ngface-text-input [form]="form" [widgetId]="'name'"></ngface-text-input>
      <ngface-text-input [form]="form" [widgetId]="'place-of-birth'"></ngface-text-input>
      <ngface-text-input [form]="form" [widgetId]="'email'"></ngface-text-input>
      <ngface-text-input [form]="form" [widgetId]="'role'"></ngface-text-input>
    </div>
    <div class="ngface-row">
      <ngface-numeric-input [form]="form" [widgetId]="'amount'"></ngface-numeric-input>
      <ngface-numeric-input [form]="form" [widgetId]="'count-samples'"></ngface-numeric-input>
    </div>
    <div class="ngface-row">
      <ngface-button [form]="form" [widgetId]="'button-ok'"></ngface-button>
      <ngface-button [form]="form" [widgetId]="'button-cancel'"></ngface-button>
      <ngface-button [form]="form" [widgetId]="'button-delete'"></ngface-button>
    </div>
  </div>
</div>
