<div class="container">
  <h1>ngface demo application</h1>
  <br>
  <div class="ngface-form" (keydown.enter)="onOk()">
    <div class="ngface-row">
      <ngface-text-input [formGroup]="formGroup" [formData]="formData" [widgetId]="'name'"></ngface-text-input>
      <ngface-text-input [formGroup]="formGroup" [formData]="formData" [widgetId]="'place-of-birth'"></ngface-text-input>
      <ngface-text-input [formGroup]="formGroup" [formData]="formData" [widgetId]="'email'"></ngface-text-input>
      <ngface-text-input [formGroup]="formGroup" [formData]="formData" [widgetId]="'role'"></ngface-text-input>
    </div>
    <div class="ngface-row">
      <ngface-numeric-input [formGroup]="formGroup" [formData]="formData" [widgetId]="'amount'"></ngface-numeric-input>
      <ngface-numeric-input [formGroup]="formGroup" [formData]="formData" [widgetId]="'count-samples'"></ngface-numeric-input>
    </div>
    <div class="ngface-row">
      <ngface-date-input [formGroup]="formGroup" [formData]="formData" [widgetId]="'check-in-date'"></ngface-date-input>
      <ngface-date-input [formGroup]="formGroup" [formData]="formData" [widgetId]="'check-out-date'"></ngface-date-input>
      <ngface-date-range-input [formGroup]="formGroup" [formData]="formData" [widgetId]="'date-range'"></ngface-date-range-input>
      <ngface-date-range-input [formGroup]="formGroup" [formData]="formData" [widgetId]="'date-range2'"></ngface-date-range-input>
    </div>
    <div class="ngface-row">
      <ngface-select [formGroup]="formGroup" [formData]="formData" [widgetId]="'select'"></ngface-select>
      <ngface-select [formGroup]="formGroup" [formData]="formData" [widgetId]="'select2'"></ngface-select>
      <ngface-select [formGroup]="formGroup" [formData]="formData" [widgetId]="'select3'"></ngface-select>
    </div>
    <ngface-data-table [formData]="formData" [widgetId]="'table'" (tableReloadEvent)="onTableReload($event)"></ngface-data-table>
    <ngface-data-table [formData]="formData" [widgetId]="'table-singleselect'" (tableReloadEvent)="onTableReload($event)"></ngface-data-table>
    <ngface-data-table [formData]="formData" [widgetId]="'table-multiselect'" (tableReloadEvent)="onTableReload($event)"></ngface-data-table>
    <div class="ngface-row">
      <ngface-button [formData]="formData" [widgetId]="'button-ok'" (click)="onOk()"></ngface-button>
      <ngface-button [formData]="formData" [widgetId]="'button-cancel'"></ngface-button>
      <ngface-button [formData]="formData" [widgetId]="'button-delete'"></ngface-button>
    </div>
  </div>
</div>
